::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important;
}

mat-card-footer {
  padding: 1em 15px;
  background: #e6e6e6;
}

mat-card-footer p {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

mat-card-footer p span {
  float: right;
}

mat-card {
  margin-bottom: 1em;
}

mat-list-item ::ng-deep div {
  padding: unset !important;
}

mat-list-item ::ng-deep span{
  position: absolute;
  right: 0;
}

mat-card-title.mat-card-title button {
  position: absolute;
  right: 10px;
  top: 5px;
}
