<mat-card class="cart-card">
    <mat-card-header>
        <mat-card-title>My Cart
            <button mat-icon-button (click)="onCartClear()" title="clear cart items"><mat-icon>delete_sweep</mat-icon></button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item @slideInOut *ngFor="let service of services" (click)="onDeleteItem(service)" [title]="service.type"> {{ service.type }} <span style="justify-content: flex-end;">{{ service.price | currency:'PHP':'symbol-narrow' }}</span></mat-list-item>
        </mat-list>
        <ng-container *ngIf="services.length === 0">
            <p>No items found!</p>
        </ng-container>

    </mat-card-content>
    <mat-card-footer>
        <p>Total: <span>{{ total | currency:'PHP':'symbol-narrow' }}</span></p>
    </mat-card-footer>
</mat-card>