<div class="primary-header">
  <h1>How it works</h1>
</div>
<div class="content-wrapper">
  <div class="content">
    <div class="guide-content">
        <h1>Getting Started with {{title}}</h1>

        <p>This guide explains how to use cutsonwheel app. It includes information on map routing and directions,
          and booking.</p>
    </div>
    <table>
        <div class="toc-container">
            <div class="toc-heading">Contents</div>
            <nav>
              <a class="docs-level-h3 docs-link" href=""> For Clients </a>
              <a class="docs-level-h3 docs-link" href=""> For Professionals </a>
                <!---->
            </nav>
        </div>
        <!---->
    </table>
  </div>
</div>


