.add-files-btn {
    float: right;
}

mat-list {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
}

.container {
    height: 100%;
}

.documents {
    display: flex;
    margin-bottom: 1em;
    flex-flow: row wrap;
}

.documents>div {
    margin: 1em;
}

.documents>div {
    width: 25%;
}

.documents>div>img {
    width: 100%;
}