<h4 subheading-1>Please upload all four(4) required documents to verify.</h4>
<mat-list>
    <mat-list-item> Original NBI Clearance (Bawal ang expired)* </mat-list-item>
    <mat-list-item> Original Police o Brgy. Clearance (Bawal ang expired)* </mat-list-item>
    <mat-list-item> TESDA Certificate (Kung Meron) </mat-list-item>
    <mat-list-item> 2 Government Issued ID* </mat-list-item>
</mat-list>
<hr/>
<div fxFlex>
    <mat-list *ngIf="!uploadSuccessful" @fade>
        <mat-list-item *ngFor="let file of files">
            <h4 mat-line>{{file.name}}</h4>
            <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
        </mat-list-item>
    </mat-list>
</div>
<div>
    <div class="documents">
        <div *ngFor="let document of documents; let i=index">
            <img [src]="document.src" (click)="open(i)" />
        </div>
    </div>
    <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple/>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
      Add Files
    </button>

    <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="onFilesUploaded()" *ngIf="!uploadSuccessful">
        Upload
    </button> &nbsp;
    <button mat-raised-button color="primary" type="button" (click)="onSkip('complete')" *ngIf="uploadSuccessful">Next</button>
    <button mat-raised-button color="primary" type="button" (click)="onSkip('complete')" *ngIf="!uploadSuccessful">Skip</button>
</div>