<footer class="footer">
    <div class="footer-list">
        <div class="footer-logo">
            <div class="footer-logo">
              <img src="./../../assets/img/logo.png" alt="cutsonwheel icon" class="footer-cutsonwheel-logo">
              <span>
                <a href="javascript:;" [routerLink]="['/faq']">How it works</a>
              </span>
            </div>
        </div>
        <div class="footer-version">
          <span class="version">Current Version: 1.0.0</span>
        </div>
        <div class="footer-copyright">
            <div>
              <span>Company Reg No. PL201906775</span>
              <span>cutsonwheel Company Ltd.</span>
            </div>
        </div>
    </div>
</footer>
