<div *ngIf="isLoadingContent" class="loading">
    <mat-spinner></mat-spinner>
</div>
<div class="account" *ngIf="!isLoadingContent">
    <div class="profile-picture">
        <div *ngIf="isLoadingPic">
            <mat-progress-bar [color]="color" [mode]="mode" [value]="bufferValue"></mat-progress-bar>
        </div>
        <form [formGroup]="imageForm" (submit)="onSavePicture()">
            <input style="display: none" type="file" (change)="onFileChanged($event)" #filePicker>
            <div class="image-preview" (click)="filePicker.click()">
                <div *ngIf="photoUrl; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <img [src]="photoUrl" />
                </ng-template>
                <ng-template #elseBlock>
                    <img src="./../../../../assets/images/dummy.jpg" style="width: 200px;" />
                </ng-template>
            </div>
        </form>

    </div>
    <div class="profile-details">
        <form [formGroup]="form" class="normal-form" (submit)="onUpdate()">
            <h4 subheading-1>Select account type</h4>
            <mat-radio-group aria-label="Select an account type" [(ngModel)]="role" formControlName="role" placeholder="Role">
                <mat-radio-button value="assistant">I want to work</mat-radio-button>
                <mat-radio-button value="client">I want to hire</mat-radio-button>
            </mat-radio-group>

            <h4 subheading-1>Basic Information</h4>
            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="firstname" placeholder="Firstname" uppercase>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="midlename" placeholder="Midlename">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="lastname" placeholder="Lastname">
                </mat-form-field>
            </div>
            <div class="form-field-block">
                <mat-radio-group aria-label="Select an option" formControlName="gender" placeholder="Gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>

                <mat-form-field>
                    <input matInput readonly [matDatepicker]="picker" formControlName="birthdate" placeholder="Birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
            </div>

            <h4 subheading-1>Address</h4>

            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="address1" placeholder="Street Address">
                </mat-form-field>
            </div>
            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="address2" placeholder="Street Address Line 2">
                </mat-form-field>
            </div>
            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="city" placeholder="City">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="province" placeholder="Province">
                </mat-form-field>
            </div>
            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="postalCode" placeholder="Postal Code">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="country" placeholder="Country">
                </mat-form-field>
            </div>

            <div class="action-group">
                <button mat-raised-button color="primary" type="submit" style="float: right;">Update & Continue</button>
            </div>

        </form>
    </div>
</div>