mat-form-field,
textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    margin: 1rem 0;
}

.image-preview img {
  width: 100%;
  height: auto;
}

button.mat-stroked-button.mat-button-base.mat-primary {
  width: 100%;
}

.servicesGroup {
  position: relative;
}

.servicesGroup .action {
  position: absolute;
  right: 0;
  top: 0;
}

.servicesGroup .form-field-block {
  width: 90%;
}

mat-card.mat-card {
  display: flex;
  flex: 1 1 auto;
}

mat-card.mat-card > div.classification-image {
  margin-right: 1em;
  width: 25%;
}

mat-card.mat-card > div.classification-data {
  width: 100%;
}
