<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1">{{ 'app.welcome' | translate:{'app':'shop-inventory'} }}</h1>
            <h2> {{ 'home.tag' | translate }}</h2>
        </div>
        <div class="header-start">

            <a mat-raised-button="" routerlink="/guide/getting-started" class="button mat-raised-button mat-button-base" tabindex="0" aria-disabled="false" href="/guide/getting-started">{{ 'home.get-started'  | translate }}</a>
        </div>
    </div>
</header>

<div class="homepage-promo">
  <div class="homepage-row" *ngFor="let classification of classifications; let o = odd; let e = even;" [ngClass]="{ 'homepage-reverse-row': o}">
    <div class="homepage-promo-img">
        <img [src]="classification.image" />
    </div>
    <div class="homepage-promo-desc">
        <h2 (click)="onDetail(classification.id)">{{classification.name}}</h2>
        <p>{{classification.description}}</p>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let service of classification.services;" >{{service.type}}</mat-chip>
        </mat-chip-list>

        <app-assistant [classificationId]="classification.id"></app-assistant>
    </div>
  </div>
</div>
