<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/about']" routerLinkActive="active" >About</a>
            <a mat-list-item [routerLink]="['/contact']" routerLinkActive="active" >Contact</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span [routerLink]="['/']" routerLinkActive="active" ><img src="./../../assets/img/logo.png"/></span>
            <span class="cpls-spacer"></span>
            <a mat-button [routerLink]="['/auth/login']" routerLinkActive="mat-accent" >Login</a>
            <a mat-button [routerLink]="['/auth/register']" routerLinkActive="mat-accent" >Register</a>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
