<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-typography">
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
        <h3>Your One Stop Grooming Services on the GO!</h3>
    </div>
</div>
<div class="cols-services">
    <div class="cols-service">
        <h3>Hairdressers</h3>
        <img src="./../../assets/img/Hairdressers.jpg" />
        <div class="cols-service-description">
            <h2>Hairdressers</h2>
            <div class="cols-service-detail">
              <p>cut or style hair in order to change or maintain a person's image. This is achieved using a combination of hair coloring, haircutting, and hair texturing techniques.</p>
            </div>
            <h6>Members</h6>
            <div class="cols-service-members">
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <p class="members-counter">5</p>
            </div>
        </div>
    </div>
    <div class="cols-service">
        <h3>Barbers</h3>
        <img src="./../../assets/img/Barbers.jpg" />
        <div class="cols-service-description">
            <h2>Barbers</h2>
            <div class="cols-service-detail">
              <p>cut, dress, groom, style and shave men's and boys' hair</p>
            </div>
            <h6>Members</h6>
            <div class="cols-service-members">
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <p class="members-counter">4</p>
            </div>
        </div>
    </div>
    <div class="cols-service">
        <h3>Nail Technicians</h3>
        <img src="./../../assets/img/Nail-Technicians.jpg" />
        <div class="cols-service-description">
            <h2>Nail Technicians</h2>
            <div class="cols-service-detail">
              <p>style and shape a person's nails. This is achieved using a combination of decorating nails with coloured varnish, transfers, gems or glitter.</p>
            </div>
            <h6>Members</h6>
            <div class="cols-service-members">
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <p class="members-counter">2</p>
            </div>
        </div>
    </div>
    <div class="cols-service">
        <h3>Makeup Artist</h3>
        <img src="./../../assets/img/Makeup-Artist.jpg" />
        <div class="cols-service-description">
            <h2>Makeup Artist</h2>
            <div class="cols-service-detail">
              <p>applying makeup and prosthetics on others for theatre, television, film, fashion, magazines and other similar productions including all aspects of the modeling industry.</p>
            </div>
            <h6>Members</h6>
            <div class="cols-service-members">
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <p class="members-counter">1</p>
            </div>
        </div>
    </div>
    <div class="cols-service">
        <h3>Massage Therapist</h3>
        <img src="./../../assets/img/Massage-Therapist.jpg" />
        <div class="cols-service-description">
            <h2>Massage Therapist</h2>
            <div class="cols-service-detail">
              <p>trained individual who is licensed or certified to therapeutically manipulate the muscles and other soft tissues of the body using one or both hands or an instrument</p>
            </div>
            <h6>Members</h6>
            <div class="cols-service-members">
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                <img src="./../../assets/img/dummy.jpg" />
              </div>
              <p class="members-counter">200+</p>
            </div>

        </div>
    </div>
</div>
