<!--The content below is only a placeholder and can be replaced.-->
<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1">Welcome to {{ title }}!</h1>
            <h2> Your One Stop Grooming Services on the GO!</h2>
        </div>
        <div class="header-start">
            <a mat-raised-button [routerLink]="['/auth/register']" routerLinkActive="router-link-active">
                <span class="mat-button-wrapper">Register</span>
            </a>
        </div>
    </div>
</header>
<div class="homepage-promo">
    <div @fade class="homepage-row" *ngFor="let classification of classifications; let o = odd; let e = even;" [ngClass]="{ 'homepage-reverse-row': o}">
      <div class="homepage-promo-img">
          <img [src]="classification.image" />
      </div>
      <div class="homepage-promo-desc">
          <h2>{{classification.name}}</h2>
          <p>{{classification.description}}</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let service of classification.services;" >{{service.type}}</mat-chip>
          </mat-chip-list>

          <div class="homepage-service-members">
              <div>
                  <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                  <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                  <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                  <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                  <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                  <img src="./../../assets/img/dummy.jpg" />
              </div>
              <div>
                  <span class="members-counter">15</span> Members
              </div>
          </div>
      </div>
    </div>
    <div class="homepage-bottom-start">
        <a mat-raised-button [routerLink]="['/guide/getting-started']" routerLinkActive="router-link-active" color="accent">
            <span class="mat-button-wrapper">Get started</span>
        </a>
    </div>
</div>
