<div class="primary-header">
    <h1>Management Team</h1>
  </div>
  <div class="content">
    <div class="members">
        <mat-card class="member-card">
          <mat-card-header>
            <mat-card-title>Randy C Rebucas</mat-card-title>
            <mat-card-subtitle>CEO & FOUNDER</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./../../../assets/img/partners/Randy Rebucas.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>Senior Software Engineer at Cloudstaff Modern Workforce, Inc.</p>
          </mat-card-content>
          <mat-card-actions>
              <a href="https://www.facebook.com/dycrebs" target="_blank" mat-icon-button><img src="./../../../assets/img/facebook-f.png"></a>
              <a href="https://www.linkedin.com/in/randy-rebucas-1a896943/" target="_blank" mat-icon-button><img src="./../../../assets/img/linkedin.png"></a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="member-card">
          <mat-card-header>
            <mat-card-title>Ritchelle C Rebucas</mat-card-title>
            <mat-card-subtitle>CHIEF SALES & MARKETING OFFICER</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./../../../assets/img/partners/Ritchelle Rebucas.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>Elementary Teacher/Teacher III</p>
          </mat-card-content>
          <mat-card-actions>
              <a href="https://www.facebook.com/Baybayanun" target="_blank" mat-icon-button><img src="./../../../assets/img/facebook-f.png"></a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="member-card">
          <mat-card-header>
            <mat-card-title>Ramil Grajo</mat-card-title>
            <mat-card-subtitle>CHIEF TECHNOLOGY OFFICER</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./../../../assets/img/partners/Ramil Grajo.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>Software Developer/Programmer at ATEC Phil</p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://www.facebook.com/ramil.grajo" target="_blank" mat-icon-button><img src="./../../../assets/img/facebook-f.png"></a>
            <a href="https://www.linkedin.com/in/ramil-grajo-379b365b/" target="_blank" mat-icon-button><img src="./../../../assets/img/linkedin.png"></a>
          </mat-card-actions>
        </mat-card>

    </div>
  </div>


