.assistant-block {
  margin: 2em 0;
  display: flex;
  flex-flow: row wrap;
}

.assistant-block > div:first-child {
  margin-right: 1em;
  width: 25%;
}

.assistant-block > div:first-child img {
  width: 100%;
}

.assistant-block > div:last-child {
  flex: 1;
}
