.classification-items {
  display: flex;
  flex-flow: row wrap;
  margin: 1em 0;
}

.classification-items mat-card {
  width: 14%;
  cursor: pointer;
  border-radius: 0;
}

mat-card:hover {
  background: gainsboro;
}

mat-card:hover img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

:host /deep/ .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px;
  width: 100%;
}

.mat-card-header .mat-card-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

mat-card-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card.selected {
  background: gainsboro;
}

mat-card.selected img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
