<div class="classifications">
  <h4 subheading-1>Select which best classifies you.</h4>
  <form [formGroup]="form" class="normal-form" (submit)="onUpdate()">
    <div class="classification-items">
      <mat-card class="classification-card" *ngFor="let classification of classifications" [ngClass]="{ 'selected': classification.id === selectedClassification }" (click)="onSelect(classification.id)">
        <mat-card-header>
          <mat-card-title>{{classification.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="classification.image" [alt]="classification.name">
        <mat-card-content>
            <p [title]=classification.description>{{classification.description}}</p>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="action">
        <button mat-raised-button color="primary" type="submit" [disabled]="isDisabled">Update & Continue</button>
    </div>
  </form>
</div>

