<div class="message">
  <h2>Congratulations and Thank you!</h2>
  <p>You've completed our simple easy setup to get going.</p>

  <br/>
  <h4 display-4>As promise, We've given you 1000 points equivalent to 1000 pesos.<br/>
     This will be credited on any of services taken until it's fully consumed.</h4>
    <p>Our team will check all submited documents to make sure all are true and <br/>
      will activate your acount right away once all is correct and valid.</p>
      <p>You can recieve active bookings right away once your account was verified.</p>
     <br/>
     <br/>
     <button mat-flat-button color="primary" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</button>
</div>
