<div class="primary-header">
  <h1>Checkout</h1>
</div>
<div class="content">
  <div>
      <nav mat-tab-nav-bar>
          <a mat-tab-link routerLink="./step-one" routerLinkActive #rlaStepOne="routerLinkActive" [active]="rlaStepOne.isActive" [disabled]="!rlaStepOne.isActive">Assistant</a>
          <a mat-tab-link routerLink="./step-two" routerLinkActive #rlaStepTwo="routerLinkActive" [active]="rlaStepTwo.isActive" [disabled]="!rlaStepTwo.isActive">Schedule</a>
          <a mat-tab-link routerLink="./step-three" routerLinkActive #rlaStepThree="routerLinkActive" [active]="rlaStepThree.isActive" [disabled]="!rlaStepThree.isActive">Customer</a>
          <a mat-tab-link routerLink="./step-four" routerLinkActive #rlaStepFour="routerLinkActive" [active]="rlaStepFour.isActive" [disabled]="!rlaStepFour.isActive">Summary</a>
          <a mat-tab-link routerLink="./step-five" routerLinkActive #rlaStepFive="routerLinkActive" [active]="rlaStepFive.isActive" [disabled]="!rlaStepFive.isActive">Confirmation</a>
          <a mat-tab-link routerLink="./step-six" routerLinkActive #rlaStepSix="routerLinkActive" [active]="rlaStepSix.isActive" [disabled]="!rlaStepSix.isActive">Payment</a>
      </nav>
      <router-outlet></router-outlet>
  </div>
</div>
