<p>Sevices on cart</p>
<div>
  <mat-list>
    <mat-list-item *ngFor="let service of services">
      {{service.type}}
      <span><mat-icon aria-hidden="false" aria-label="delete icon" (click)="onRemoveItem(service)">delete</mat-icon></span>
    </mat-list-item>
  </mat-list>
</div>
<p>Select assistant to do the services.</p>
<div class="service-members">
  <div *ngFor="let classifiedAssistant of classifiedAssistants;" (click)="onSelect(classifiedAssistant.id)" [ngClass]="{ 'selected': classifiedAssistant.id === selectedAssistant }">
      <ng-container *ngIf="classifiedAssistant.avatar != null">
        <img [src]="classifiedAssistant.avatar" />
        <p>{{classifiedAssistant.firstname}} {{classifiedAssistant.lastname}}</p>
      </ng-container>
  </div>
</div>
