<div class="primary-header">
  <h1>About Us</h1>
</div>
<div class="content">
  <div>
    <h3>Summary</h3>
    <p><strong>cutsonwheel</strong> is a latest trends of services that incorporate the latest technologies such as web and mobile developments, will be opened in the Philippines specifically in Noveleta Cavite as its main headquarters. We have chosen the Philippines because we think that it would be an amazing opportunity to groom professionals in helping them find a job that fits their expertise. The business will be run as “Grooming on the go” by this means we are doing service right on your comfort zone, and we shall see it that all clients from old to young are given the very best of services. Our services will cover areas from head to toe such as; hair cuts, hair perming, relaxing of hair, manicure, pedicure, nail painting, nail fixing, nail trainings, fixing of weaves, braiding, and the sales of other grooming related stuff.</p>
    <p>We are aware that businesses these days require diverse and sophisticated approaches. This is why we will be sure to be abreast with the creativity and trend which the trade is exposed to. We shall also be involved in the training of budding entrepreneurs who may want to venture into this industry. Even though starting an on the go services might look really pretty easy to start,   we intend to bring in strict professionalism that will make up stand out.</p>
    <p><strong>cutsonwheel</strong> is primarily focused to help its clients look their very best at all times. We would try as much as lies within our power to surpass the expectations of people. Our prices would also be very affordable; we do not want to scare our new clients away with our pricing. As a matter of fact, we plan to lower our pricing so that we can gain good grounds within our startup period.</p>
    <p>We plan to hire the best hands in the city of Manila to help us drive our biases. This is one of the reasons why who do not mind to pay our employees well because we know that we are striving for a goal and that is the goal of gaining loads of clients. In addition, much more than just satisfying our clients, we also want to see new entrepreneurs empowered by us, as they emerge to start their own “on the go services” business.</p>
    <p>We shall also be involved in the sponsoring of various programs that are hosted in the locality which we are located. Shows like fashion shows, hair exhibitions, entertainment shows, amongst many others.</p>
  </div>
  <div>
    <div>
      <h3>Our Vision</h3>
      <p>Our vision is to provide our services right on our clients comfort zone. We strive to achieve this with our overly trained stylists and attendants and the ambience which our services has to offer.</p>
    </div>
    <div>
      <h3>Our Mission</h3>
      <p>Our mission is to provide professional and creative service to our clients- thereby meeting their grooming needs at all times.</p>
    </div>
  </div>
</div>

