.classification-details {
  display: flex;
  flex-flow: row wrap;
}

.classification-details .classification-image {
  width: 30%;
  margin-right: 1em;
}

.classification-details .classification-image img {
  width: 100%;
}
