<mat-form-field class="full-width">
    <input matInput placeholder="Search Nearest Location" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
</mat-form-field>

<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>
<div class="location-detail">
    <p>Address: {{address}}</p>
    <p>Latitude: {{latitude}}</p>
    <p>Longitude: {{longitude}}</p>
</div>