div.mat-typography {
    padding: 2em;
}

.cols-services {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
}

.cols-services>div {
    width: 33%;
    min-height: 300px;
    margin: 2px;
    position: relative;
}

.cols-services>div h3 {
    font-weight: 200;
}

.cols-services>div p {
    padding: 3em;
}

.cols-service {
    text-align: center;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    overflow: hidden;
}

.cols-service:hover .cols-service-description {
    opacity: 1;
    bottom: 0%;
}

.cols-service-description {
    position: absolute;
    bottom: -100%;
    right: 0;
    background: #fff;
    text-align: center;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.cols-service-description {
    padding: 0;
    height: 100%;
}

.cols-service-description h2 {
    font-weight: 100;
    font-size: 20px;
    position: relative;
}

.cols-service-description h2:after {
    content: "";
    border-bottom: 1px solid rgba(183, 179, 179, 0.87);
    width: 60%;
    position: absolute;
    top: 50px;
    left: 20%;
}

.cols-service-description p {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}